[tool.black]
line-length = 88
target-version = ["py311"]

[tool.isort]
profile = "black"
src_paths = ["src", "."]

[tool.ruff]
target-version = "py311"
line-length = 88
select = ["E","F","I","UP","B","W"]